
@{
    ViewBag.Title = "AppointMed";
}
@if (Session["PatientId"] != null)
{
   <!DOCTYPE html>
    <html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>AppointMed</title>

        <!-- Bootstrap Core CSS -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        

        <!-- Custom Fonts -->
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Theme CSS -->
        <link href="~/Content/Pages.css" rel="stylesheet">


    </head>

    <body>

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="Patient/LoggedIn">@ViewBag.Title</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    
                    <li>
                        <a href="../Home#services">Services</a>
                    </li>

                    <li>
                        <a href="../Home#about">About</a>
                    </li>
                    <li>
                        <a href="../Home#team">Team</a>
                    </li>
                    <li>
                        <a href="../Home#contact">Contact</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-inverse navbar-right">  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;<span class="caret"></span></a>  
                       
                        <ul class="dropdown-menu">
                            <li><a href="profile.html"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Edit Profile</a></li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="LogOut">
                            <span class="glyphicon glyphicon-log-out"></span> Log Out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container-fluid -->
        </nav>
    
            <section id="services" class="bg-light-gray">
                <div class="container">
                    <h4> Hello @Session["FirstName"].ToString(),</h4>
                    <p>
                        Ready for your appointment? Please, select below what you would like to do:
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                    

                    <div class="row text-center">
                        <div class="col-md-3">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Schedule Appointment</h4>
                            <p class="text-muted">Schedule your own appointment.</p>
                        </div>

                        <div class="col-md-3">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Cancel Appointment</h4>
                            <p class="text-muted">Select and cancel any appointment.</p>
                        </div>

                        <div class="col-md-3">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Change Appointment</h4>
                            <p class="text-muted">Selelct and change your appointment.</p>
                        </div>

                        <div class="col-md-3">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">See Your History</h4>
                            <p class="text-muted">See all appointments you have scheduled.</p>
                        </div>
                    </div>

                </div>

            </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; AppointMed 2016</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>  
    </body>

</html>

}

